<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <style>
        body {
            background: url("img/background_basket.jpg");
        }
        li span {
            color: #e2e3e5;
        }
    </style>
    <!-- Адаптивность сайта к разным гаджетам -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="img/logo_small.png" class="img-thumbnail">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/main_page"><i class="glyphicon glyphicon-home"></i> Главная</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> Категории<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mens_clothing">Мужская одежда</a></li>
                        <li><a href="/womens_clothing">Женская одежда</a></li>
                        <li><a href="/baby_clothing">Детская одежда</a></li>
                    </ul>
                </li>
                <li><a href="/delivery_payment"><i class="glyphicon glyphicon-send"></i> Доставка и оплата</a></li>
                <li><a href="/contact"><i class="glyphicon glyphicon-phone-alt"></i> Контакты</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="background: rebeccapurple"><a href="/basket"><span><i class="glyphicon glyphicon-shopping-cart"></i> Корзина</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <h3 class="text-center">Ваша корзина пока пуста</h3>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
</div>
<hr>
<footer>
    <p class="text-center">&copy; Все права защищены 2020</p>
</footer>
</body>
</html>