<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <style>
        body {
            background: url("img/background_contact.png");
        }
        li span {
            color: #e2e3e5;
        }
    </style>
    <!-- Адаптивность сайта к разным гаджетам -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="img/logo_small.png" class="img-thumbnail">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="main_page.html"><i class="glyphicon glyphicon-home"></i> Главная</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> Категории<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="mens_clothing.html">Мужская одежда</a></li>
                        <li><a href="womens_clothing.html">Женская одежда</a></li>
                        <li><a href="baby_clothing.html">Детская одежда</a></li>
                    </ul>
                </li>
                <li><a href="delivery_payment.html"><i class="glyphicon glyphicon-send"></i> Доставка и оплата</a></li>
                <li class="active"><a href="contact.html"><i class="glyphicon glyphicon-phone-alt"></i> Контакты</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="background: rebeccapurple"><a href="basket.html"><span><i class="glyphicon glyphicon-shopping-cart"></i> Корзина</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="background-color: #e9ecef"><div class="text-center"><h3>Вы можете связаться с нами любым удобным для Вас способом:</h3></div></div>
        <br><br>
        <br><br>
        <h5 class="text-center"><i class="glyphicon glyphicon-phone-alt"></i> Mobile: +38 (067) 123 45 67</h5>
        <h5 class="text-center"><i class="glyphicon glyphicon-phone-alt"></i> Telegram: +38 (067) 123 45 67</h5>
        <h5 class="text-center"><i class="glyphicon glyphicon-phone-alt"></i> Viber: +38 (067) 123 45 67</h5>
        <h5 class="text-center"><i class="glyphicon glyphicon-phone-alt"></i> WhatsApp: +38 (067) 123 45 67</h5>
        <h5 class="text-center"><i class="glyphicon glyphicon-envelope"></i> Email: olegserdenuk269@gmail.com</h5>
        <h5 class="text-center"><i class="glyphicon glyphicon-globe"></i> Facebook: facebook.com/snicksmoda</h5>
        <h5 class="text-center"><i class="glyphicon glyphicon-globe"></i> Instagram: instagram.com/snicksmoda</h5>
        <h5 class="text-center"><i class="glyphicon glyphicon-globe"></i> Telegram: t.me/snicksmoda</h5>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12" style="background-color: #e9ecef"><div class="text-center"><h3>График работы:</h3></div></div>
        <br><br>
        <br><br>
        <h5 class="text-center"><i class="glyphicon glyphicon-ok-circle"></i> Пн-Сб: 9:00-20:00</h5>
        <h5 class="text-center"><i class="glyphicon glyphicon-remove-circle"></i> Вс: выходной</h5>
        <br><br>
        <br><br>
    </div>
</div>
<hr>
<footer>
    <p class="text-center">&copy; Все права защищены 2020</p>
</footer>
</body>
</html>